<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br />
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :exercise_date %><br />
    <%= f.datetime_select :exercise_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
