
<div class="clearfix">
   <%= f.label :person, t("activerecord.attributes.exercise.person", :default => "Person"), :class => :label %>
  <div class="input">
    <%= f.text_field :person, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :minutes, t("activerecord.attributes.exercise.minutes", :default => "Minutes"), :class => :label %>
  <div class="input">
    <%= f.number_field :minutes, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :exercise_date, t("activerecord.attributes.exercise.exercise_date", :default => "Exercise date"), :class => :label %>
  <div class="input">
    <%= f.datetime_select :exercise_date, :class => 'datetime_select' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", exercises_path %>
</div>
