
  <h1> <%= @total_count %> Exercises so far...</h1>

<p>

<h3> <%= @total_minutes %> total minutes</h3>
</p>

<%= link_to "New Exercise", new_exercise_path, :class => 'btn btn-success btn-large' %>

<table class="table table-striped">
 <thead>
  <tr>
    <th>
      <%= t("activerecord.attributes.exercise.person", :default => t("activerecord.labels.person", :default => "Person")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @exercises.each do |exercise| -%>
   <tr>
    <td><%= link_to exercise.person, exercise_path(exercise) %>
    </td>
        <td><%= exercise.created_at %></td>
    <td>
      <%= link_to "Show", exercise_path(exercise) %>
      <%= link_to "Edit", edit_exercise_path(exercise) %>
      <%= link_to "Destroy", exercise_path(exercise), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>
