
<label class="label"><%= t("activerecord.attributes.exercise.person", :default => t("activerecord.labels.person", :default => "Person")) %>:</label>
<p><%= @exercise.person %></p>

<label class="label"><%= t("activerecord.attributes.exercise.minutes", :default => t("activerecord.labels.minutes", :default => "Minutes")) %>:</label>
<p><%= @exercise.minutes %></p>

<label class="label"><%= t("activerecord.attributes.exercise.exercise_date", :default => t("activerecord.labels.exercise_date", :default => "Exercise date")) %>:</label>
<p><%= @exercise.exercise_date %></p>

<div class="form-actions">
<%= link_to '<i class="icon-home"></i> Back'.html_safe, exercises_path, :class => 'btn btn-small' %>
<%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_exercise_path(@exercise), :class => 'btn btn-small' %>
<%= link_to '<i class="icon-trash"></i> Delete'.html_safe, exercise_path(@exercise), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-small' %>
</div>
