<h1> <%= @total_count %> Exercises between <%= @start %> and <%= @end %></h1>

<p>
  <h3> <%= @total_minutes %> total minutes</h3>
</p>

<table class="table table-striped">
 <thead>
  <tr>
    <th>
      <%= t("activerecord.attributes.exercise.person", :default => t("activerecord.labels.person", :default => "Person")) %>
    </th>
        <th>Exercise Date</th>
        <th>Minutes</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @exercises.each do |exercise| -%>
   <tr>
    <td><%= link_to exercise.person, exercise_path(exercise) %>
    </td>
        <td><%= exercise.exercise_date %></td>
        <td><%= exercise.minutes %></td>
    <td>
      <%= link_to '<i class="icon-search"></i> Show'.html_safe, exercise_path(exercise), :class => 'btn btn-small' %>
      <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_exercise_path(exercise), :class => 'btn btn-small' %>
      <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, exercise_path(exercise), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-small' %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>